<div class="w-full overflow-x-auto p-2">
    <a routerLink="/levels/new" style="cursor: pointer;" class="p-2 rounded-sm bg-green-500 text-gray-50 font-semibold flex items-center gap-2 w-fit">
      <i class="fa-solid fa-plus"></i>
      <span>New</span>
    </a>
    <table class="w-full mt-2">
      <thead class="text-left border-b border-gray-300">
        <th class="py-2 pr-3">NUM</th>
        <th class="py-2 pr-3">NAME</th>
        <th class="py-2 pr-3">FAMILY NAME</th>
        <th class="py-2 pr-3">ACCESSION DATE</th>
        <th class="py-2 pr-3">NATIONALITY</th>
        <th class="py-2 pr-3">IDENTITY DOCUMENT NAME</th>
        <th class="py-2 pr-3">IDENTITY NUMBER</th>
        <th class="py-2 pr-3">HUNTINGS</th>
        <!-- <th class="py-2 pr-3">OPERATIONS</th> -->
      </thead>
      <tbody>
        <tr *ngFor="let member of members" class="border-b border-gray-300">
          <td class="py-2 text-gray-500">{{ member.num }}</td>
          <td class="py-2 text-gray-500">{{ member.name }}</td>
          <td class="py-2 text-gray-500">{{ member.familyName }}</td>
          <td class="py-2 text-gray-500">{{ member.accessionDate }}</td>
          <td class="py-2 text-gray-500">{{ member.nationality }}</td>
          <td class="py-2 text-gray-500">{{ member.identityDocument }}</td>
          <td class="py-2 text-gray-500">{{ member.identityNumber }}</td>
          <td class="py-2 text-gray-500">{{ member.huntingList.length }}</td>
          <!-- <td class="py-2 text-gray-500 flex gap-4 items-center">
            <i
              [routerLink]="['/competitions/edit', member.num]"
              class="fa-regular fa-pen-to-square text-green-500 bg-green-200 rounded-sm p-2"
              style="font-size: 20px; cursor: pointer"
            ></i>
            <i
              (click)="confirmDelete(member.num)"
              class="fa-regular fa-trash-can text-red-500 bg-red-200 rounded-sm p-2"
              style="font-size: 20px; cursor: pointer"
            ></i>
          </td> -->
        </tr>
      </tbody>
    </table>
  </div>